<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerManagerServlet</servlet-name>
        <servlet-class>Controller.CustomerManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderManagerServlet</servlet-name>
        <servlet-class>Controller.OrderManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductManagerServlet</servlet-name>
        <servlet-class>Controller.ProductManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewServlet</servlet-name>
        <servlet-class>Controller.ReviewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerManagerServlet</servlet-name>
        <url-pattern>/customer_manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewServlet</servlet-name>
        <url-pattern>/review_manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderManagerServlet</servlet-name>
        <url-pattern>/order_manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductManagerServlet</servlet-name>
        <url-pattern>/product_manage</url-pattern>
    </servlet-mapping>
</web-app>
